.calendar-wrapper {
  width: 100%;
  position: relative;
  background: url("https://img.tsn.ua/cached/1533908617/tsn-8c5f6b23d1211bb14030cc3abd4583f7/thumbs/1200x630/a0/65/b19fbde2d5477daa9cb04793f69365a0.jpeg");
  background-size: cover; }
  .calendar-wrapper .calendar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center; }
    .calendar-wrapper .calendar-header .header-calendar-auth-google {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(32, 175, 195, 0.3);
      border: 0.5px solid #20afc3;
      border-radius: 20px;
      padding: 5px; }
      .calendar-wrapper .calendar-header .header-calendar-auth-google button {
        margin-top: 10px;
        height: 35px;
        padding: 0px 10px;
        border-radius: 10px;
        border: 0.5px solid #20afc3;
        background: transparent;
        cursor: pointer; }
      .calendar-wrapper .calendar-header .header-calendar-auth-google p {
        margin: 0; }
    .calendar-wrapper .calendar-header .quick-add-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(32, 175, 195, 0.3);
      border: 0.5px solid #20afc3;
      border-radius: 20px;
      padding: 5px;
      margin: 0 10px; }
      .calendar-wrapper .calendar-header .quick-add-header .quick-add-header-message p {
        margin: 0; }
      .calendar-wrapper .calendar-header .quick-add-header .quick-add-header-message .error {
        color: red; }
      .calendar-wrapper .calendar-header .quick-add-header form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .calendar-wrapper .calendar-header .quick-add-header form input {
          margin: 0 10px;
          width: 200px;
          border: none;
          background: rgba(32, 175, 195, 0.5);
          color: black;
          font-weight: bold;
          border-bottom: 1px solid #20afc3; }
        .calendar-wrapper .calendar-header .quick-add-header form button {
          margin-top: 10px;
          height: 35px;
          background: transparent;
          padding: 0px 10px;
          border-radius: 10px;
          border: 0.5px solid #20afc3;
          cursor: pointer; }
    .calendar-wrapper .calendar-header .header-search-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(32, 175, 195, 0.3);
      border: 0.5px solid #20afc3;
      border-radius: 20px;
      padding: 5px;
      margin: 0 10px; }
      .calendar-wrapper .calendar-header .header-search-block button {
        height: 35px;
        background: transparent;
        padding: 0px 10px;
        border-radius: 10px;
        border: 0.5px solid #20afc3;
        cursor: pointer; }
      .calendar-wrapper .calendar-header .header-search-block input {
        margin: 0 10px;
        width: 200px;
        background: rgba(32, 175, 195, 0.5);
        color: black;
        font-weight: bold;
        border: 1px solid #20afc3; }
      .calendar-wrapper .calendar-header .header-search-block .all-search-events {
        position: absolute;
        right: 10%;
        top: 115px;
        background: #20afc3;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        @media screen and (max-width: 900px) {
          .calendar-wrapper .calendar-header .header-search-block .all-search-events {
            top: 160px; } }
        .calendar-wrapper .calendar-header .header-search-block .all-search-events .calendar-header-events {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          border: 0.2px solid black;
          border-radius: 15px;
          margin-bottom: 5px; }
          .calendar-wrapper .calendar-header .header-search-block .all-search-events .calendar-header-events p {
            margin: 0; }
            .calendar-wrapper .calendar-header .header-search-block .all-search-events .calendar-header-events p span {
              font-size: 10px; }
  .calendar-wrapper .calendar-months-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px; }
    .calendar-wrapper .calendar-months-select button {
      border-radius: 5px; }
    .calendar-wrapper .calendar-months-select button:hover {
      color: #fff; }
    .calendar-wrapper .calendar-months-select div {
      display: flex;
      flex-direction: row; }
      .calendar-wrapper .calendar-months-select div p {
        margin: 0 20px;
        font-weight: bold; }
  .calendar-wrapper .calendar_days {
    width: 100%;
    background-color: rgba(32, 175, 195, 0.3); }
    .calendar-wrapper .calendar_days .calendar-days-of-the-week {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 0.2px solid rgba(32, 175, 195, 0.8); }
      .calendar-wrapper .calendar_days .calendar-days-of-the-week .calendar-days-of-the-week-day-name {
        text-align: center;
        width: 14.28%; }
    .calendar-wrapper .calendar_days .calendar-week {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .calendar-wrapper .calendar_days .calendar-week .day {
        text-align: center;
        width: 14.28%;
        border: 0.2px solid rgba(32, 175, 195, 0.8);
        min-height: 140px; }
        .calendar-wrapper .calendar_days .calendar-week .day .popup-container {
          position: absolute;
          left: 50%;
          top: 40%;
          margin-left: -100px;
          background-color: #20afc3;
          width: 200px;
          border-radius: 15px;
          height: 316px;
          display: flex;
          align-items: center;
          flex-direction: column;
          z-index: 100; }
          .calendar-wrapper .calendar_days .calendar-week .day .popup-container form {
            margin: 20px; }
            .calendar-wrapper .calendar_days .calendar-week .day .popup-container form label {
              display: flex;
              flex-direction: column; }
          .calendar-wrapper .calendar_days .calendar-week .day .popup-container button {
            margin-top: 10px;
            height: 35px;
            padding: 0px 10px;
            border-radius: 10px;
            cursor: pointer;
            border: 0.5px solid #20afc3;
            background: #00bcd4; }
        .calendar-wrapper .calendar_days .calendar-week .day .calendare-day-info h3 {
          margin: 0px;
          font-size: 16px; }
        .calendar-wrapper .calendar_days .calendar-week .day .calendare-day-info h4 {
          margin: 0px;
          font-size: 16px;
          font-weight: normal; }
        .calendar-wrapper .calendar_days .calendar-week .day .calendare-day-info p {
          font-size: 12px; }
        .calendar-wrapper .calendar_days .calendar-week .day .day-event {
          background: #20afc3;
          border: 0.5px solid #20afc3;
          border-radius: 20px; }
          .calendar-wrapper .calendar_days .calendar-week .day .day-event button {
            border: 0.5px solid #20afc3;
            background: #00bcd4; }
        .calendar-wrapper .calendar_days .calendar-week .day button {
          margin-top: 10px;
          height: 35px;
          padding: 0px 10px;
          border-radius: 10px;
          border: 0.5px solid #20afc3;
          background: transparent;
          cursor: pointer; }
      .calendar-wrapper .calendar_days .calendar-week .day:hover {
        background-color: rgba(32, 175, 195, 0.8); }

/*# sourceMappingURL=style.css.map */
