.calendar-wrapper {
  width: 100%;
  position: relative; }
  .calendar-wrapper .calendar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    background: burlywood; }
    .calendar-wrapper .calendar-header .all-search-events {
      position: absolute;
      background: #e98930;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .calendar-wrapper .calendar-header .all-search-events .calendar-header-events {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border: 0.2px solid black;
        border-radius: 15px; }
        .calendar-wrapper .calendar-header .all-search-events .calendar-header-events p {
          margin: 0; }
  .calendar-wrapper .calendar-months-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px; }
    .calendar-wrapper .calendar-months-select button {
      border-radius: 5px; }
    .calendar-wrapper .calendar-months-select button:hover {
      color: #fff; }
    .calendar-wrapper .calendar-months-select div {
      display: flex;
      flex-direction: row; }
      .calendar-wrapper .calendar-months-select div p {
        margin: 0 20px;
        font-weight: bold; }
  .calendar-wrapper .calendar_days {
    width: 100%;
    background-color: antiquewhite; }
    .calendar-wrapper .calendar_days td {
      text-align: center;
      border: 0.2px solid burlywood;
      width: 14.28%;
      height: 150px; }
      .calendar-wrapper .calendar_days td div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .calendar-wrapper .calendar_days td div .popup-container {
          position: absolute;
          left: 50%;
          margin-left: -100px;
          background-color: #20afc3;
          width: 200px;
          border-radius: 15px;
          height: 250px;
          display: flex;
          align-items: center;
          flex-direction: column;
          z-index: 100; }
          .calendar-wrapper .calendar_days td div .popup-container form {
            margin: 20px; }
            .calendar-wrapper .calendar_days td div .popup-container form label {
              display: flex;
              flex-direction: column; }
        .calendar-wrapper .calendar_days td div .calendare-day-info {
          height: 120px; }
          .calendar-wrapper .calendar_days td div .calendare-day-info h3 {
            margin: 0px;
            font-size: 16px; }
          .calendar-wrapper .calendar_days td div .calendare-day-info h4 {
            margin: 0px;
            font-size: 16px;
            font-weight: normal; }
          .calendar-wrapper .calendar_days td div .calendare-day-info p {
            font-size: 12px; }
    .calendar-wrapper .calendar_days td:hover {
      background-color: wheat;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
