.calendar-wrapper{
    width: 100%;
    position: relative;

    .calendar-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0;
        background: burlywood;

        .all-search-events{
            position: absolute;
            background: rgb(233, 137, 48);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .calendar-header-events{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                border: 0.2px solid black;
                border-radius: 15px;
                p{
                    margin: 0;
                }

            }
        }
    }

    .calendar-months-select{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;

        button{
            border-radius: 5px;
        }
        button:hover{
            color: #fff;
        }
        div{
            display: flex;
            flex-direction: row;
            p{
                margin: 0 20px;
                font-weight: bold;
            }
        }
    }

    .calendar_days{
        width: 100%;
        background-color: antiquewhite;
        .calendar-days-of-the-week{
            display: flex;
            flex-direction: row;
            width: 100%;
            border: 0.2px solid burlywood;

            .calendar-days-of-the-week-day-name{
                text-align: center;
                width: 14.28%;

            }
        }
        .calendar-week{
            display: flex;
            flex-direction: row;
            width: 100%;

            .day{
                text-align: center;
                width: 14.28%;
                border: 0.2px solid burlywood;

                .popup-container{
                    position: absolute;
                    left: 50%;
                    margin-left: -100px;
                    background-color: #20afc3;
                    width: 200px;
                    border-radius: 15px;
                    height: 250px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    z-index: 100;
                    form{
                        margin: 20px;
                        label{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                .calendare-day-info{
                    height: 120px;
                    h3{
                        margin: 0px;
                        font-size: 16px;
                    }
                    h4{
                        margin: 0px;
                        font-size: 16px;
                        font-weight: normal;
                    }
                    p{
                        font-size: 12px;
                    }
                }

            }
            
            .day:hover{
            background-color: wheat;
            cursor: pointer;
            }
        }
 
    }
   

}